certifi==2018.4.16
chardet==3.0.4
docopt==0.6.2
idna==2.7
numpy==1.13.3
pandas==0.21.0
pipreqs==0.4.9
Pyphen==0.9.4
python-dateutil==2.6.1
pytz==2017.2
repoze.lru==0.7
requests==2.19.1
six==1.11.0
textstat==0.4.1
urllib3==1.23
virtualenv==15.1.0
virtualenvwrapper-win==1.2.1
yarg==0.1.9
sklearn==0.19.1
spotipy==2.4.4