pandas==0.23.0
numpy==1.14.3
requests==2.20.0
nltk==3.3
textstat==0.4.1
spotipy==2.4.4
oauthlib==2.1.0
sortedcollections==0.6.1
scikit-learn==0.19.1
Flask==1.0.2
Jinja2==2.10.1
Werkzeug==0.15.3
MarkupSafe==1.0
itsdangerous==0.24
gunicorn==19.9.0
scipy==1.0.0