<h1 align = "center">Tune Tables</h1>


<!DOCTYPE html>
<html>
<head>
  <meta http-equiv ="Content-Type" content = "text/html;charset=utf-8"/>
  <title> Tune Tables </title>
  <style type ="text/css">

svg {
  font: 10px sans-serif;
}

canvas, svg {
  position: absolute;
  top: 0;
  left: 0;
}

#chart {
  position: relative;
}

.brush .extent {
fill-opacity: .3;
stroke: #fff;
shape-rendering: crispEdges;
}
.axis line, .axis path {
fill: none;
stroke: #000;
shape-rendering: crispEdges;
}

.axis text {
  text-shadow: 0 1px 0 #fff;
  cursor: move;
  -webkit-text-stroke: 1px #fff;
  color: black;
}
text{
  cursor: move;
}

#form .fixed{
  position: fixed;
    height: 600px;
    width: 600px;

    }
    body{
  background: url(/img/cream_dust.png) repeat 0 0;
}
</style>
</head>
<body>


  <div id = "form">
  <form method="POST" onsubmit="return push_queue()" >
  <label for="song">Song:</label>
  <input id = "song" name = "song" size = "20" type = "text" value = "">
  <label for="album">Album:</label>
  <input id = "album" name = "album" size = "20" type = "text" value = "">
  <label for="artist">Artist:</label>
  <input id = "artist" name = "artist" size = "20" type = "text" value = ""><br>
  <br>
  <input type="hidden" name='queue1' value="" id = "unique">
<input id="Add" type="button" value="Add tracks to queue" onclick="add_to_queue();">
<input type="submit" value="Push queue to graph" ><br>
  </form>
  </div>

<!---
oFormObject.elements["username"].value = 'Jon Lord';
to pass the queue to the hidden html variable
-->

    <div id = "chart">
    <canvas id = "foreground"></canvas>
    <svg></svg>
  </div>
  <script type = "text/javascript" src = "https://d3js.org/d3.v5.js"></script>
  <script type = "text/javascript">
  window.requestAnimFrame = (function(){
    return window.requestAnimationFrame || window.webkitRequestAnimationFrame || window.mozRequestAnimationFrame || window.oRequestAnimationFrame || window.msRequestAnimationFrame ||
    function( callback ){
      window.setTimeout(callback, 1000 / 60);
    };
  })();

var m = [30, 10, 10, 10],
w = 1200 - m[1] - m[3],
h = 700 - m[0] - m[2];


var x = d3.scaleBand().range([0,w]),
y = {};
var dragging = {}

var line = d3.line(),
axis = d3.axisLeft(),
foreground,
dimensions,
brush_count = 0;

var colors = {
  "1": "hsla(0, 100%, 70%, .75)",
  "0": "hsla(240, 100%, 70%, .75)"
};

d3.selectAll("canvas")
  .attr("width",w + m[1] + m[3])
  .attr("height", h + m[0] + m[2])
  .style("padding", m.join("px ") + "px");

  foreground = document.getElementById('foreground').getContext('2d');

  foreground.strokeStyle = "rgba(0,100,160,.75)";

  var svg = d3.select("svg")
  .attr("width", w + m[1] + m[3])
  .attr("height", h + m[0] + m[2])
  .append('svg:g')
  .attr("transform", "translate(" + m[3] + "," + m[0] + ")");

var quant_p = function(v){return (parseFloat(v) == v) || (v == "")};

function draw_graph(data){
  x.domain(dimensions = d3.keys(data[0]).filter(function(d) {
    return d != "" && (y[d] = d3.scaleLinear()
  .domain(d3.extent(data, function(p) { return +p[d]; }))
  .range([h, 0]));
}));


dimensions.forEach(function(d){
var vals = data.map(function(p) { return p[d]; });
if (vals.every(quant_p)){
  y[d] = d3.scaleLinear()
  .domain(d3.extent(vals.map(function(p){ return +p})))
  .range([h, 0]);}
  else{
    y[d] = d3.scalePoint()
    .domain(vals.filter(function(v, i) {return vals.indexOf(v) == i;}))
    .range([h, 0], 1);}
})
paths(data, foreground, brush_count);

var g = svg.selectAll(".dimension")
.data(dimensions)
.enter().append("svg:g")
.attr("class", "dimension")
.attr("transform", function(d)  {
  return "translate(" + x(d) +")";
})
  .call(d3.drag()
  .on("start", function(d)  {
    dragging[d] = this.__origin__ = x(d);
  })
  .on("drag", function(d){
    dragging[d] = Math.min(w, Math.max(0, this.__origin__ +=  d3.event.dx));
    dimensions.sort(function(a, b) {
      return position(a) - position(b);
    });
    x.domain(dimensions);
    g.attr("transform", function(d){
      return "translate(" + position(d) + ")";
    })
  })
.on("end", function(d){
  delete this.__origin__;
  delete dragging[d];
  transition(d3.select(this)).attr("transform", "translate(" + x(d) + ")");
  brush()

}));
function transition(g){
  return g.transition().duration(500);
}
function position(d){
  var v = dragging[d];
  return v == null ? x(d) : v;
}


g.append("svg:g")
.attr("class", "axis")
.each(function(d) {d3.select(this).call(d3.axisRight(y[d]));
});

g.append("svg:text")
.attr("text-anchor", "middle")
.attr("y", -9)
.text(String);

g.append("svg:g")
.attr("class", "brush")
.each(function(d){
  d3.select(this).call(y[d].brush = d3.brushY().extent([[-10,0], [10, h]]).on('brush', brush).on("end", brush));
})
.selectAll("rect")
.attr("x", -12)
.attr("width", 24);


function brush() {
  brush_count++;
  var actives = [];
  var extents = [];
  svg.selectAll(".brush")
  .filter(function(d) {
    return d3.brushSelection(this);
  })
  .each(function(d){
    actives.push(
      d,
    );
    extents.push(
      d3.brushSelection(this)
    )
  });
  var selected = [];
  data.map(function(d) {
    return actives.every(function(p, i) {
      var p_new = y[p](d[p]);
      return extents[i][0] <=p_new && p_new <= extents[i][1];
    }) ? selected.push(d) : null;
  });

  foreground.clearRect(0,0, w+1, h+1);
  paths(selected, foreground, brush_count);
}




function paths(data, ctx, count){
  var n = data.length,
  i = 0,
   reset = false;
   function render() {
     var max = d3.min([i+60, n]);
     data.slice(i, max).forEach(function(d){
       path(d, foreground, colors[d.Label]);
     });
     i = max;
   };
   (function animloop(){
     if (i >= n || count < brush_count) return;
     requestAnimFrame(animloop);
     render();
   })();
};

};

function path(d, ctx, color){
  if (color) ctx.strokeStyle = color;
  ctx.beginPath();
  dimensions.map(function(p,i){
    if (d[p] == ""){
      return [x(p), null]
    } else if(i==0){
      ctx.moveTo(x(p), y[p](d[p]));
    } else{
      ctx.lineTo(x(p), y[p](d[p]));
    }
  });
  ctx.stroke();
};



//should be changed to add up existing data(data) and data that has been queued. This will change the element id of unique to the entire queue which is what flask calls.
//old data that exists on graph needs to be converted into format that matches queue so that the two can be joined.
function push_queue(){



    console.log(queue)
    for(i = 0; i < queue.length; i ++){
      data.push({name: queue[i][0], artist: queue[i][1], tf:  queue[i][2] });
    }

    console.log(data)
    document.getElementById("unique").value = JSON.stringify(data);




}

function delete_track(){
  var actives = [];
  var extents = [];
  svg.selectAll(".brush")
  .filter(function(d) {
    return d3.brushSelection(this);
  })
  .each(function(d){
    actives.push(
      d,
    );
    extents.push(
      d3.brushSelection(this)
    )
  });
  var selected = [];

  data.map(function(d) {
    return actives.every(function(p, i) {
      var p_new = y[p](d[p]);
      return extents[i][0] <=p_new && p_new <= extents[i][1];
    }) ? selected.push(d) : null;
});
  for (var i = 0; i < selected.length; i++){
    var index = data.indexOf(selected[i])
    data.splice(index,1);
  }
  svg.selectAll("*").remove();
  foreground.clearRect(0,0, w+1, h+1);
  draw_graph(data);

}

var queue = [];

function add_to_queue(){
    var songname = document.getElementById("song").value;
    var albumname = document.getElementById("album").value;
    var artist = document.getElementById("artist").value;
    var sVa = -1;
    if (!((songname == "") || (albumname == ""))){
        console.log("error, dual input");
        return;
    }
    else if (artist == ""){
        console.log("error, no artist");
        return;
    }
    else if (!(albumname == "")){
        sVa = 0;
        var addition = [albumname, artist, sVa];
    }
    else if (!(songname == "")){
        sVa = 1;
        var addition = [songname, artist, sVa];
    }
    queue.push(addition);
}

function undo_add(){
    queue.pop();
}







</script>
  <input id="Delete" type="button" value="Delete Tracks!" onclick="delete_track();" /><br>
</body>

</html>




<script>


var data = JSON.parse('{{ data | tojson | safe}}');
console.log(data)


draw_graph(data)


</script>
